{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Not Authorized - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-misc.css' %}" />
{% endblock page_css %}

{% block content %}
<!-- Not Authorized -->
<div class="misc-wrapper">
  <h1 class="mb-2 mx-2" style="font-size: 6rem;">401</h1>
  <h4 class="mb-2">You are not authorized! 🔐</h4>
  <p class="mb-2 mx-2">You don’t have permission to access this page. Go Home!</p>
  <div class="d-flex justify-content-center mt-5">
    <img src="{% static 'img/illustrations/misc-not-authorized-object.png' %}" alt="misc-not-authorized" class="img-fluid misc-object d-none d-lg-inline-block" width="190">
    <img src="{% static 'img/illustrations/misc-bg-' %}{{ COOKIES.style|default:style }}.png" alt="misc-not-authorized" class="misc-bg d-none d-lg-inline-block" data-app-light-img="illustrations/misc-bg-light.png" data-app-dark-img="illustrations/misc-bg-dark.png">
    <div class="d-flex flex-column align-items-center">
      <img src="{% static 'img/illustrations/misc-not-authorized-illustration.png' %}" alt="misc-not-authorized" class="img-fluid z-1" width="160">
      <div>
        <a href="{% url 'index' %}" class="btn btn-primary text-center my-4">Back to home</a>
      </div>
    </div>
  </div>
</div>
<!-- /Not Authorized -->
{% endblock %}
